COMPOSE_PROJECT_NAME=ecommerce

POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ecommerce
POSTGRES_PORT=5432

REDIS_PASSWORD=change_me
REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_min8
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
