DATABASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=

RAJAONGKIR_API_KEY=
RAJAONGKIR_ORIGIN_ID=
